<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zx.module_splash">

    <application>
        <activity
            android:name="com.zx.module_splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_bixin_logo"
            android:launchMode="singleTop"
            android:roundIcon="@drawable/ic_bixin_logo"
            android:screenOrientation="portrait"
            android:theme="@style/BXSplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="SplashActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>